@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.movie-item-list-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-gap: 2px;
    background-color:white;
    /* border: 1px solid black; */
    padding: 4px;
        
}

  
.thumbnail-container {
 
    display: flex ;
    flex-wrap:  wrap;
    height: calc(100vh - 34px);
    padding: 2px;
    /* border: 1px solid   black; */
    border-left: 1px solid #afafaf21;

   
}     


.movie-item-list-container
 .button-bar {
    display: flex;
    flex-direction: row;
     justify-content: center; 
     padding-top: 8px;
   /* border-top: 1px solid #afafaf21 ; */
   /*   border: 1px solid black;*/
}

.mat-badge-content {
    width: auto;
    display: grid;
    min-width: 10px;
    min-height: 10px;
    text-align: center;
    align-items: center;
    padding: 3px 1px;
    top: -20px;
    right: -22px;
    }




