

    <div class="header">
        <div class="header-label">
            <h2 mat-dialog-title>{{ selectedMovieItem.name }}</h2>
        </div>
        <div class="header-close">
            <mat-dialog-actions align="start">
            <mat-icon [mat-dialog-close]="true">close</mat-icon>
        </mat-dialog-actions>
        </div>
    </div>
    
    <mat-dialog-content class="mat-typography">
        <div class="detail">{{selectedMovieItem.detail}}</div>
        <h3>{{'Duration:' + selectedMovieItem.duration}} </h3>

    </mat-dialog-content>
    <!-- <mat-dialog-actions align="end">
        <button mat-raised-button [mat-dialog-close]="true" >
            
        </button>
    </mat-dialog-actions> -->
