<div class="main-page-container">

    <div class="page-content">
        <app-group-list (addGroup)="onAddGroup();" (editGroup)="onEditGroup();"></app-group-list>
        <app-movie-item-list></app-movie-item-list>
        <app-item-detail></app-item-detail>
    </div>

    <div class="page-dialogs">
        <app-movie-group-form class="dialog" *ngIf="showGroupDialog" [selectedGroup]="selectedGroup"
         [ClickedEditButton]= "ClickedEditButton" [ClickedAddButton]= "ClickedAddButton"
            (cancel)="onCancelGroup();" (confirm)="onConfirmGroup();"></app-movie-group-form>
    </div>
</div>

<!-- chejoori 2 ta ngIf bezarim baraye selectedGroup(2 vomin if)    -->