.main-page-container {
}
.page-content {
     display: grid;
    grid-template-columns: 20% 50% 30%;
     height: calc(100vh - 20px); 
    border: 1px solid red;
}
.page-dialogs {
    
}
.dialog {
    position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-page-container .div {
   border: 1px solid green;
}