


.main-page-container {}
* {
   font-family: Helvetica,sans-serif;
   font-size: 10px;
   font-weight: 500;
}

.w3-Icons {
  color:white;font-size:large;position:relative;padding-left: 20px;padding-top: 12px; 
}

.page-header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 0;
  width: 100%;
  height: 60px;
  padding-bottom: 0;

  /*  border: 1px solid black;*/ /*  */
}

.page-header  .col {
  display: inline-block;  /*  then we can add width and hight*/ 
  box-sizing: border-box;
  }

.page-header 
.col-left {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 165px;
  height: 55px;
  left: 0;
  padding-left: 1rem;
  background: #a31700;
 /* z-index: 10;  
  border: 1px solid purple; */
}

.example-button-container {
  position: relative;
  left: -12px;
  display: flex;
  justify-content: center;

}

.mat-mini-fab {
  position: relative;
  top: 10px;
  width: 30px;
  height: 30px;
  background-color: transparent;
}
.mat-icon {
  position: relative;
  left: -7px;
  top: -13px;
  width: 10px;
  height: 10px;

}

.menu-general-mat-icon {
  font-size: 12px;
}
.menu-general-span {
  font-size: 12px;
}

.page-header .col-left
 .header-label { 
  position: relative;
  left: -6px;
  padding-left: 0px;
  padding-top: 15px;
  font-size: small;
  color: whitesmoke;
  font-weight: 200;
}

.page-header 
.col-right {
  
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 158px;
  width: 100%;
  height: 55px;
   background: #b4321b; /* */
}

.page-header .col-right 
.header-search {
  /* border: 1px solid black; */
  width: 200px;
 }

.page-header .col-right
 input[type=text] {
  position: absolute;
  top: 50%;
  left: 2px;
  width: 100px;
  height: 30px;
  transform: translateY(-50%);
  padding: 0;
  margin: 0;
  box-sizing: border-box;

    background: hsla(0,0%,100%,0);
    border-radius: 30px;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: width .2s;
    padding: 10px 10px 10px 10px;
    outline: 0;
    border: 2px solid white;
}


.page-header .col-right 
input[type=text]:focus {
  width: 230px;
  outline: 0;
} 

::placeholder {
  color: white;
  font-size: larger;
}

.page-header .col-right 
.header-empty {
  position: relative;
  padding-top: 7px;
/*  border: 1px solid black; */
  width:1482px;
}

.page-header .col-right 
.header-home-button {
 /* border: 1px solid purple; */
 position: relative;
 padding-top: 3px;
 margin-right: 8px;
 width: 30px;
}

.page-header .col-right 
.header-login-button {
 /* border: 1px solid purple; */
 position: relative;
 padding-top: 3px;
 width :30px;
  }

  .mat-menu {
    background-color: transparent;
  }

.page-content {
     display: grid;
     grid-template-columns: 154px auto ;
     /* height: calc(100vh - 20px);  */
    /* border: 1px solid red; */
}

.search-result {
  display: flex;
  flex-direction: row;
}







.header-close {
  position: relative;
  right: -1040px;
  top: 10px;
  cursor: pointer;
  /* transform: translateY(-20%); */
  width: 10px;
  height: 10px;
  color: #b4321bc7;
}

.page-dialogs { }

.dialog {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
}

.main-page-container .div {
   /* border: 1px solid green; */
}
