.group-list-container {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-gap: 2px;
    background-color: rgb(217, 225, 250);
    padding: 1px;
    border: 1px solid black;
 
}
.group-row {

    height: calc(100vh - 45px);
    overflow: auto;
}

.group-list-container .button-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    border: 1px solid black;     
        
}
