
<div class="movie-group-container">
    <div class="movie-group-header">
        <div class="group-header-label">
            Group Form
        </div>
        <div class="header-close-button">

        </div>
    </div>
<!---->
  <!--<form [formGroup]="selectedGroupForm">-->
    <div class="movie-group-body">
        <div class="row">
            <div class="row-field-label">
                 Name
            </div>
            <div class="row-field-value">
           <!-- <input type="text" formControlName="name"> --> 
           
                <div *ngIf="ClickedEditButton; else ClickedAddButton">
                    <input type="text" id="selectedGroup.name" name="selectedGroup.name" value="{{selectedGroup.name}}">
                </div>
                
                <ng-template #ClickedAddButton>
                    <input type="text" id="selectedGroup.name" name="selectedGroup.name" value="">
                </ng-template>

            </div>
        </div>
        <div class="row">
            <div class="row-field-label">
                Id
            </div>
            <div class="row-field-value">
           <!-- <input type="text" formControlName="id" > --> 
                <div *ngIf="ClickedEditButton; else ClickedAddButton">
                    <input type="text" id="selectedGroup.name" name="selectedGroup.name" value="{{selectedGroup.id}}">
                </div>
                
                <ng-template #ClickedAddButton>
                    <input type="text" id="selectedGroup.name" name="selectedGroup.name" value="">
                </ng-template>
            </div>
        </div>
    </div>
 <!-- </form> -->

    <div class="movie-group-footer">
        <app-button class="button" [text]="'Cancel'" (buttonClick)="onCancelClick()"></app-button>
        <app-button class="button" [text]="'Confirm'" (buttonClick)="onConfirmClick()"></app-button>
    </div>
</div>
